body, html 
{ 
width:100%;
height:100%;
margin:0;
font-family: 'Helvetica Neue',arial,sans-serif;
color: #211922;
font-size: 12px;
}
.overall_container
{
width: 100%;
}

.container
{
padding-top: 20px;
width: 380px;
height:511px;
background-color: #F7F7F7;
border-radius: 2px;
box-shadow: 0px 0px 4px 5px rgba(119, 119, 119, 0.3);
-moz-box-shadow: 0px 0px 4px 5px rgba(119, 119, 119, 0.3);
-webkit-box-shadow: 0px 0px 4px 5px rgba(119, 119, 119, 0.3);
margin-left:325px;
margin-top:100px;
}

.head
{
color: #525252;
font-size: 23px;
margin: 10px 40px 15px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.myButton 
{
margin: -6px;
padding: 6px;
position: absolute;
right: 18px;
top: 22px;
background-color: rgba(0, 0, 0, 0);
border: 0 none;
cursor: pointer;
line-height: normal;
}
#button1
{
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: linear-gradient(#5678BC, #314A7B) repeat scroll 0 0 rgba(0, 0, 0, 0);
border-color: #314A7B #293F69 #293F69;
border-image: none;
border-right: 1px solid #293F69;
border-style: solid;
border-width: 1px;
color: #444444;
text-shadow: 0 1px #FFFFFF;
width:300px;
height: 42px;
position: relative;
color: white;
margin-left:40px;
margin-top:20px;
}
#button1:hover
{
cursor:pointer;
}
#button2
{
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: linear-gradient(#F87474, #E65858) repeat scroll 0 0 rgba(0, 0, 0, 0);
border-color: #E65858 #E34242 #E34242;
border-image: none;
border-right: 1px solid #E34242;
border-style: solid;
border-width: 1px;
color: #444444;
text-shadow: 0 1px #FFFFFF;
width:300px;
height: 42px;
position: relative;
color: white;
margin-left:40px;
margin-top:20px;
}
#button2:hover
{
cursor:pointer;
}
#button3
{
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: linear-gradient(#5FBEE4, #2091BD) repeat scroll 0 0 rgba(0, 0, 0, 0);
border-color: #2091BD #1C80A8 #1C80A8;
border-image: none;
border-right: 1px solid #1C80A8;
border-style: solid;
border-width: 1px;
color: #444444;
text-shadow: 0 1px #FFFFFF;
color: white;
width:300px;
margin-left:40px;
margin-top:20px;
height: 42px;
}
#button3:hover
{
cursor:pointer;
}
.FooterButton
{
float:right;
margin-right:40px;
margin-top:20px;
}
#button4 
{
width:75px;
height:38px;
border: 1px solid #920C12;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22);
background-color: #AB171E;
color:white;
}
#button4:hover
{
cursor:pointer;
}
.email
{
width:300px;
height:55px;
margin-left:40px;
margin-top:20px;
border:1px solid #b9b9b9;
font-size: 18px;
border-radius:5px;
}
.password
{
width:300px;
height:55px;
margin-left:40px;
margin-top:10px;
border:1px solid #b9b9b9;
font-size: 18px;
border-radius:5px;
}
.business
{
padding-left: 40px;
margin-top:20px;
}
#a1
{
color:#8a8a8a;
text-decoration:none;
border-bottom:1px solid #dadada;
padding-bottom:10px;
}

.footer1
{
float:left;
margin-left:40px;
margin-top:20px;
font-size:14px;
}
#a2
{
color: #717171;
font-weight: bold;
text-decoration: none;
}
#a2:hover
{
color: red;
font-weight: bold;
text-decoration: none;
}
#a3
{
color: #717171;
font-weight: bold;
text-decoration: none;
}
#a3:hover
{
color: red;
font-weight: bold;
text-decoration: none;
}
.logo1
{
position:absolute;
margin-left:-213px;
margin-top:-13px;
}
.logo2
{
position:absolute;
margin-left:-205px;
margin-top:-12px;
}
.logo3
{
position:absolute;
margin-left:-202px;
margin-top:-12px;
}